/* CSS for Header Section */
.header {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}
.award {
    margin-left:20%;
    margin-top: 4%;
}
.aw-content {
    color: #FF3147;
    font-weight:500;
 
}
.heading {
   color: #000000;
   font-weight: bold;
   margin-top: 10px;

}
.para-text {
    font-family: 'Poppins', sans-serif;
    margin-top: 4%;
}
.contact-btn {
background-color: #FF3147;
border-radius: 2px;
font-family: 'Poppins', sans-serif;
letter-spacing: 1.4px;
color: #FFFFFF;
margin-top: 4%;
}



/* CSS for mobile devices */

@media (max-width: 500px) { 
    
 }


@media (min-width: 768px) { 

 }


@media (max-width: 1016px) { 
    .header{
        display: block;
        margin-left:-20%;
    }
    .img {
        margin-left:20%;
        margin-top: 2%;

    }
 }


@media (min-width: 1200px) { 

}


@media (min-width: 1400px) { 

 }