/* CSS for Header Section */

.header {
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
}
.award {
    margin-top: 4%;
}
.aw-content {
    color: #FF3147;
    font-weight:500;
}
.heading {
   color: #000000;
   font-weight: bold;
   margin-top: 10px;
}
.para-text {
    font-family: 'Poppins', sans-serif;
    margin-top: 4%;
}
.contact-btn {
background-color: #FF3147;
border-radius: 2px;
font-family: 'Poppins', sans-serif;
letter-spacing: 1.4px;
color: #FFFFFF;
margin-top: 4%;
}

/* CSS for Contact Us Form Section */

.modal-content {
    padding:5%;
}
.modal-button {
    padding:2%;
    font-size: larger;
}
.modal-title {
    font-weight: bold;
    color: #2D3142;
    letter-spacing: 0.4px;
}
.input-fields {
    display: flex; 
}
.form-control {
    border: 0;  
}
.input-txt{
    border-radius: 0;
    border-bottom: 1px solid #6F718F99;
    font-weight:normal;
 }

 input[placeholder]{
    letter-spacing: 0.4px;
 }
 .form-control:focus {
    box-shadow: none;
}
.form-check-input {
    border: 2px solid #FF3366;
border-radius: 3px;
}
.form-check-label {
    color: #616678;
opacity: 0.9;
}
.form-check-input:active, .form-check-input:focus {
    color: #ffffff !important;
    background-color: #FF3366!important;  
  }
  .form-check-input:focus {
    box-shadow: none!important;
}
.input-txt:focus{
	border-color: #FF3366;;
	border-width: medium medium 2px;
    letter-spacing: 0.4px;
    color: #2D3142;
}
.close-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CSS for What We Do Section */

.wedo-header{
    margin-top:3%;
    padding-bottom: 6%;
}
.span-content{
    color: #FF3147;
    font-weight:400;
    padding-top: 6%;
}
.heading-content {
  display: flex;
  justify-content:flex-end;
  margin-top: 2%;
  color: #000000;
}
.heading-content h2 {
    font-weight: 700;
}
.heading-content p {
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
}
.carousel-item {
    position: relative;
    width: 280px;
    height:370px;
    border-radius: 5px;
}
.img-radius {
    border-radius: 5px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #FF3147;
    border-radius: 5px;
  }
.carousel-item:hover .overlay {
    opacity: 1;
  }
.icon {
    color: white;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.icon img a{
      text-decoration: none;  
  }
.overlay a{
      text-decoration: none;
  }
.read-btn {
      color: #FF3147;
      margin-top: 25px; 
  }
.read-btn:hover {
    color: #FF3147;
}
.read-btn a:visited {
    color: #FF3147;
}
.read-line{
    display: inline-block;
    font-size: 14px;
    font-weight:600;
}
.slide {
    width: 280px;
    position: relative;
    border-radius: 5px;
}
.slider-side {
    position: absolute;
    display:flex;
    justify-content: flex-end;
   left: 100%;
   bottom:0%
}
.slider-img {
    width:280px;
    height:370px;
    border-radius: 5px;
}
.carousel-itm {
    position: relative;
    width: 280px;
    height:370px;
    margin-left: 18px;
    border-radius: 5px;
}
.carousel-itm:hover .overlay {
    opacity: 1;
  }
.indicators {
    width:100px;
    height: 18px;
    margin-top: 15px;
}
 .indicators button {
    border: none;
    margin:-3px;
 }
 #indicator-img {
    width:17px;
    height:17px;  
    border-radius: 90%;
}
.indicator-img {
      width:5px;
      height:5px;
      border-radius: 90%;
 }

/* CSS for Why Choose Us Section */

.why-content, .best-content {
    text-align: center;
}
.why-section {
    display: inline-block;
    justify-content: center;
}
.card {
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
.card-img-top {
    width: 65px;
    height: 65px;
}
.why-container {
    margin-top: 6%;
}
.why-content {
    color: #FF3147;
    font-weight:400;
}
.best-content h2 {
    font-weight: 700;
    color: #000000;
    margin-top: 2%;
    margin-bottom: 3%;
}

/* CSS for Our Project Section */

.project{
    margin-top:6%;
}
.d-flex {
    margin: auto;
    width: 90%;
}
.nav-link:hover{
    color: #000000;
}
  .buttn:active, .buttn:focus, .buttn:hover {
    color: #ffffff !important;
    background-color: #FF3147 !important;
  }
.nav-link {
      background-color: #F6F6F6 !important;
      color: #000000 !important;
      margin-left: 8%;
      border-radius: 0px !important;
      padding:8%;
  }
  .nav {
      width: 30%;  
  }
.tab-content {
    width:65%;
}

/* CSS for Experts Growth Section */

.growth {
    margin-top:6%;
    padding-bottom: 2%;
}
.align-center {
    margin: auto;
    width: 90%;
}
#padding-growth {
    padding-top:4%;
}
.card-hover {
    text-align: center;
    display:inline-block;  
    margin:2%;  
    width: 12rem;
}
.card-hover:hover {
    box-shadow: 3px 6px 20px #672C2C1F;
  }
.card-hover img{
    width:30px;
    height:30px;
    margin-top: 20px;
}

/* CSS for Client's Feedback Section */

.feedback{
    margin-top:4%;
}
#bg-img {
    margin-left:-6%;
}
.back-img{
    width:8%;
    margin-top: -3%;
}
.client {
 margin-top: 3%;
 margin-bottom: 6%;
}
#client-name {
    color: #FF3147;
    font-weight: bold;
}
#client-company {
    color: #808080;
}
.feedback-content {
    margin: auto;
  width: 50%;
}

/* CSS for Footer Section */

.footer {
    background-color: #FF3147;
    margin-top: 5%;
}
.footer-logos {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* CSS for Mobile Devices/Tablets */

@media (max-width: 1016px) { 
    .header{
        display: block;
    }
    .img {
        margin-top: 2%;
        margin-left: -2%;
        width:500px;
    }
    .slider-side {
        display:none;
    }
    .slide{
        margin: 0 auto;
    }
    .indicators{
        margin: 0 auto;
    }
   .d-flex,.nav, .tab-content {
        display: block !important;
        width: 100%;
    }
    .nav-link {
        margin-top: 3%;
        margin-left: 0%;
    }
    .card-hover {
        margin-top: 5%; 
    }
    .align-center {
        margin: auto;
        width: 50%;  
    }
    
 }

